h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
body {
  background-color: purple;
}
p {
  color:white;   
}
h1 {
  color:white;
}
h2{
  color:white;
}
p {
  text-align: left;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}























































































/* HACK:  */
/* OPTIMIZE:  */
